.actions-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  color: var(--text-highlight);
  font: 600 0.875rem/1 var(--font-family);
  border-radius: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;

  &.btn-primary {
    min-width: 10.625rem;
    color: white;
    background-color: #e43a12;
  }

  &.btn-secondary {
    min-width: 10.625rem;
    border: 1px solid var(--text-highlight);

    &:hover,
    &:focus {
      color: #e43a12;
      outline: 0.25rem solid var(--surface-secondary);
    }
  }
}

.btn-primary {
  &:hover,
  &:focus {
    background-color: #f3541c;
  }
}

@media (max-width: 768px) {
  .actions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
  }

  .actions-wrapper button {
    width: 100%;
    margin: 0;
  }

  .btn-secondary {
    margin-left: 0;
  }

  .actions-wrapper button {
    width: 100%;
    text-align: center;
  }
}
